# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide

# Configuration files
appsettings.json
appsettings.Development.json

# Intermediate files
bin
obj
Properties
SWP391_1817-NET_G2.sln
Swp391.sln
