# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide

# Explicitly ignore bin and obj directories
bin/
obj/
bin
obj
Swp391.sln
SWP391_1817-NET_G2.sln
/Swp391/obj/Swp391.csproj.nuget.g.props
/Swp391/bin/Debug/net8.0/Swp391.dll
/Swp391/obj/Debug/net8.0/ref/Swp391.dll
/Swp391/obj/Debug/net8.0/refint/Swp391.dll
/Swp391/obj/Debug/net8.0/Swp391.AssemblyInfo.cs
/Swp391/obj/Debug/net8.0/Swp391.AssemblyInfoInputs.cache
/Swp391/obj/Debug/net8.0/Swp391.csproj.CoreCompileInputs.cache
/Swp391/obj/Debug/net8.0/Swp391.dll
/Swp391/obj/Debug/net8.0/Swp391.pdb
/Swp391/obj/project.nuget.cache
